<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="index.css">
    <title>Document</title>
</head>
<body>
    <form action="/login" method="post">
   <label for="email">Email : </label><input type="text" id="email" name="email" placeholder="Enter Your Email"> <br>
   <label for="password">password : </label><input type="password" id="password" name="password" placeholder="Enter Your password"> <br>

   <button type="submit">Login</button><br>
   
    </form>
    
</body>
</html>